{% extends "__layout.twig" %}

{% block content %}

<div class="text-center">
    <img src="/images/404.jpg" style="border-radius: 25px; width: 300px;">
    <h3>404 ERROR - NO RAP</h3>
</div>

{% endblock %}