{% extends "__object.twig" %}

{% block objectContent %}
    <div class="container">
        <p class="card-text" style="min-height: 48px;">{{object.description}}</p>
        <span class="main-text">Джордан Террелл Картер (родился 13 сентября 1996 года), более известен, как Playboi Carti — 
            американский рэпер и модель из Атланты. Изначально был участником Атлантского андерграунд-лейбла Awful Records, 
            сейчас подписан на лейбл A$AP Mob — AWGE Label и Interscope Records. 
            Его дебютный микстейп Playboi Carti был выпущен 14 апреля 2017 года, а дебютный студийный альбом Die Lit — 11 мая 2018 года.</span>
    </div>
{% endblock %}
