
{% extends "__object.twig" %}

{% block objectContent %}
    <div class="container">
        <p class="card-text" style="min-height: 48px;">{{object.description}}</p>
        <span class="main-text">Жак Берман Уэбстер II, более известный под псевдонимом Travis Scot) — американский рэпер, певец, автор песен и музыкальный продюсер.</span>
    </div>
{% endblock %}
